.center_txt{text-align: center;}
/*horejsek*/
#top{min-height:100px;height:auto;}
.flexBoxTop{display: flex;
		flex-direction: row;
		align-items: center;
		text-align:center;
		justify-content:space-around;
		flex-wrap: wrap;
		}
		
/*Aktuality*/
.center2{
margin: auto;
  width: 50%;
  /*border: 3px solid #73AD21;*/
  padding: 3px;
color: rgb(112, 0, 0);  
}
.center3{
	text-align:center;
margin: auto;
  width: 25%;
  /*border: 3px solid #73AD21;*/
  padding: 0px;
color: rgb(112, 0, 0);  
}
.centerCenik{
margin: auto;
  width: 50%;
  /*border: 3px solid #73AD21;*/
  padding: 0px;
color: rgb(112, 0, 0);  
}

body {
  background-color: rgb(220,220,220);
}
.centerFooter{
  font-size: 12px;
  text-align: center;
  margin: auto;
  width: 100%;
  background-color: #333;
  padding: 20px;	
	}
	
	/*optimalizace pro mobili/tablety*/
@media only screen and (max-width: 800px) {
	.center2{
  margin: auto;
  width: 90%;
  padding: 20px;
}

.center3{
  margin: auto;
  width: 90%;
  padding: 20px;
}

	.centerCenik {
  margin: auto;
  width: 90%;
  padding: 20px;
}
.nadpis1{
	font-size: 33px;
}
.nadpis0{
	font-size: 23px;
}
.center_txt{
	font-size: 23px;
	}
}